@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    scroll-behavior: smooth; 
     font-family: 'IntegralCF', 'Satoshi', sans-serif;
    font-size: 100%;
  }
  body {
     font-family: 'IntegralCF', 'Satoshi', Arial, Helvetica, sans-serif;
   

    font-weight: 400;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* Apply globally */
  body, p, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'IntegralCF', Arial, sans-serif;
}
  /* Heading Styles */
  h1,
  h2,
  h3,
  h4,
  h5, 
  h6 {
    @apply font-semibold text-gray-900;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}
@layer components {
  /* Focus Reset - Remove default focus outlines */
  button:focus,
  a:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none;
  }
}
@layer utilities {
  /* Text Optimization */
  .text-optimized {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* Text Balance for Headlines */
  .text-balance {
    text-wrap: balance;
  }
  /* Prevent Orphans */
  .text-no-orphans {
    text-wrap: pretty;
  }
   .paused {
    animation-play-state: paused;
  }
}





@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 60s linear infinite;
  animation-play-state: running;
  transition: animation-duration 0.5s ease; /* smooth pause */
}

.animate-infinite-scroll:hover {
  animation-play-state: paused; /* smooth pause */
}

@keyframes infinite-scroll-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-infinite-scroll-reverse {
  animation: infinite-scroll-reverse 30s linear infinite;
  animation-play-state: running;
  transition: animation-duration 0.5s ease;
}

.animate-infinite-scroll-reverse:hover {
  animation-play-state: paused;
}
